Debug
Release
ipch
*.sdf
*.opensdf
*.db
*.opendb
*.suo
*.exe
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
.vs/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

!CreateMain.exe
/UnitTester/Defines.h
.vs
